.btn_grid:hover{
    color: #FFF;
    background-color: #2ecc71;
}


.btn_eventos {
    right: 0%;
    padding-right: 20px;
    align-items: center;
    vertical-align: center;
    color: #FFF;
    margin-right: 20px;
  }


  .btn_eventos:hover{
    color: #FFF;
    background-color: #2ecc71;
  }


  .modal-body {
    width: 440px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    border: 1px solid #b2d1f5;
    transform: translate(-50%,-50%);
    background-color: #191919;
    text-align: center;
    border-radius: 24px;
  }

  .modal-content { 
    background-color: #191919;
    color: white;
    font-weight: 500;
  }
.box-login input[type = "text"], .box-login input[type = "password"]{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #7c0335;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
  }


  .box-login input[type = "text"]:focus,.box-login input[type = "password"]:focus{
    width: 350px;
    border-color: #2ecc71;
  }


  .modal-body .modal-content{
    border: 0;
   
  }
  .box-btn-login{ 
    display: flex;
    justify-content: center;
    align-items: center;
  } 

  .box-btn-login input[type = "submit"]{
    border:0;
    background: none;
    display: block;
    margin: 20px;
    text-align: center;
    border: 2px solid #2ecc71;
    padding: 14px 40px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
  }
  .box-btn-login input[type = "submit"]:hover{
    background: #2ecc71;
  }