.modal-body{
    display: flexbox;  
    max-width: 100%;
    max-height: 100%;
    width: auto !important;
    left: 40%;
	  top: 40%;
    position: absolute; 
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
  }
  
  .modal-body .modal-content{
    border: 0; 
  }

  .btn_position {
    display: flex;
    right: 0%;
    position: absolute;
  }
  .btn_eventos {
    padding-right: 20px;
    align-items: center;
    vertical-align: center;
    color: #FFF;
    margin-right: 20px;
  }


  .btn_eventos:hover{
    color: #FFF;
    background-color: rgb(223, 12, 12)
  }