.home-container {
    padding-top: 100px;
    height: calc(100vh - 254px);
  }
  
  .home-container h1 {
    margin: 0;
  }
  
  .home-content {
    display: flex;
    justify-content: center;
  }
  
  .home-title {
    font-weight: bold;
    font-size: 55px;
    line-height: 58px;
    letter-spacing: -0.015em;
    color: var(--dark-color);
    margin-bottom: 40px !important;
  }
  
  .home-subtitle {
    font-weight: normal;
    font-size: 24px;
    line-height: 33px;
    letter-spacing: -0.015em;
    color: var(--secondary-color);
    margin-bottom: 30px;
  }

  .home-actions{
    padding-left: 40px;
  }

  .home-image svg {
        width: 400px;
        height: 400px;
        width: 100% !important;
  }
  .voce {
      color: royalblue;
  }
  @media only screen and (max-width: 768px) {
    .home-container {
      height: auto;
      margin-bottom: 50px;
    }
  
    .home-content {
      flex-direction: column-reverse;
    }
  
    .home-title {
      font-size: 40px;
    }
    
    .home-subtitle {
      text-align: center;
    }
    
    .home-actions {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    
  
    .home-image {
      text-align: center;
    }
  
    .home-image svg {
      width: 80%;
    }
  }
  
  @media (max-height: 700px) {
    .home-container {
      height: auto;
      margin-bottom: 30px;
    }
  }
  